body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

html {
  background-image: url(../images/background-image.jpg);
  background-size: cover;
}

.calc {
  background-color: rgba(183, 178, 175, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 350px;
  border-radius: 1rem;
  margin: 100px auto;
}

.billInput,
.tipAmount,
.people,
.totalContainer {
  margin: 0.3rem;
}

.inputContainer {
  position: relative;
}

.currencySymbol {
  position: absolute;
  left: 4px;
  top: 3px;
}

.percentSymbol {
  position: absolute;
  left: 4px;
  top: 5px;
  padding-right: 2px;
}

.inputText {
  padding: 8px 14px;
  border: solid 1px #ccc;
  border-radius: 5px;
}

.numberOfPeople {
  border-radius: 5px;
}

#billAmount,
#tipAmount {
  font-size: 1rem;
  /* background: none;
  border: none;
  outline: none;
  padding: none; */
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
}

.controls {
  display: flex;
  align-items: center;
}

.buttonContainer {
  background: grey;
  display: grid;
  place-items: center;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}

.splitButton {
  border: none;
  background: none;
  display: grid;
  place-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.numberOfPeople {
  font-size: 1.6rem;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}

.totalContainer {
  display: flex;
  flex-direction: column;
}

.total {
  font-size: 1.6rem;
  font-weight: bold;
}
