body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: url(../images/background-image.jpg);
  background-size: cover;
}

.calc {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 300px;
  border-radius: 10%;
}
